.ui-content>.ui-block-a,
.ui-content>.ui-block-b {
	width: 100%;
	float: none;
	margin: 5px;
	border: 1px #acacac solid;
}

@media all and (min-width: 60em) {
	.ui-content>.ui-block-a {
		width: 65.5%;
		float: left;
	}
	.ui-content>.ui-block-b {
		width: 32.5%;
		float: left;
	}
} 